.App {
  color: rgb(120, 120, 250);
  background-color: white;
  height: 510px;
  min-width: 333px;
  max-width: 360px !important;
  margin: 5% 0;
  border: 1px solid whitesmoke;
  box-shadow: 1em 1.33em 1em 0.33em rgba(55, 55, 55, 0.33);
}

.content-one {
  height: 75px;
}

.header {
  font-size: 20px;
  height: 100%;
}

.content-two {
  height: 370px;
  padding: 12px;
  overflow-y: scroll;
}

.todo-entry {
  height: 50px;
  font-size: 22.5px;
}

.todo-add,
.todo-remove,
.todo-checkbox {
  cursor: pointer;
}

.content-three {
  height: 70px;
}

.footer {
  height: 100%;
}

input {
  padding: 7.5px 7.5px;
  color: rgb(120, 120, 255);
}

.todo-icons {
  color: rgb(80, 120, 140);
}

.finished {
  text-decoration: line-through;
  color: rgb(200, 150, 255);
}
